:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: #2196f3;
  --fifth-text-color: #000;
  --first-background-color: #fff;
  --second-background-color: #2f303a;
  --button-color: #2196f3;
  --selectors-background-colour: #f5f4fa;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--second-text-color);
}

/* Header - start */
.header {
  width: 1600px;
  height: 80px;
  background-color: var(--first-background-color);
  display: block;
  padding-top: 24px;
}

/* Web Studio */

.header-logo {
  display: inline;
  text-align: left;
  width: 145px;
  height: 31px;
  padding-left: 215px;
}

.logo-up {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.logo-up :hover {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.web {
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 26px;
}

.studio-up {
  color: var(--fifth-text-color);
  font-weight: 700;
  font-size: 26px;
}

/* Navigation Links */

.nav-links {
  text-align: center;
  display: inline;
  margin-right: 371px;
  padding-top: 32px;
}

.nav-links ul {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  word-spacing: 46px;
  display: inline;
  margin-left: 53px;
  width: 254px;
  height: 16px;
}

.nav-list li {
  display: inline;
  text-decoration: none;
}

.nav-list li:hover {
  display: inline;
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a:hover {
  display: inline;
  text-decoration: none;
  color: var(--fourth-text-color);
}

.agency {
  color: #000;
}
.agency:hover {
  text-decoration: none;
}
.portfolio {
  color: #000;
}
.portfolio:hover {
  text-decoration: none;
}
.contact {
  color: #000;
}
.contact:hover {
  text-decoration: none;
}
.active {
  color: #2196f3;
}

/* Contact details */

.contact-details {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  text-align: right;
  display: inline;
  text-align: right;
}

.contact-details :hover {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-align: right;
}

.contact-details_email {
  color: #2196f3;
  text-decoration: none;
  margin-right: 50px;
}

.contact-details_tel {
  color: var(--second-text-color);
  text-decoration: none;
}

/* Header-end */

/* Main - start */

/* Button */

.button-background {
  background-color: var(--second-background-color);
  text-align: center;
  /* width: 1600px;
  height: 600px; */
  margin: 0;
}

.button-description {
  font-weight: 900;
  font-size: 44;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  text-align: center;
  padding: 200px 452px 30px 452px;
  margin: 0;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--third-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
}

/* Description Lorem Ipsum */
.lorem-ipsum li {
  list-style: none;
}

.ipsum-main {
  font-weight: 700;
  font-size: 14px;
  color: var(--first-text-color);
  display: inline;
  list-style: none;
  text-align: center;
}

.ipsum-secondarry {
  font-size: 14;
  text-decoration: none;
  text-align: left;
}

/* Photo */

.photos {
  background-color: var(--first-background-color);
  display: inline;
}
.photos h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--first-text-color);
}

.photos ul {
  list-style: none;
}

.photo li {
  text-align: center;
}

/* Team */

.our-team {
  background-color: var(--first-background-color);
  display: inline;
}

.our-team h2 {
  color: var(--first-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.members li {
  list-style: none;
  font-size: 16px;
  text-align: center;
}

.john-doe {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--first-text-color);
}
.member-text {
  font-size: 16px;
  text-align: center;
}

/* Main - End */

/* Footer - Strat */

/* .footer {
  display: block;
} */

.lower-line {
  background-color: var(--second-background-color);
  display: inline;
  position: absolute;
}

.logo-down {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-down:hover {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo-down-first {
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 26px;
}

.logo-down-second {
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 26px;
}

.adress-down-first {
  font-size: 14px;
  font-style: normal;
  color: var(--third-text-color);
}

.footer-conntact a {
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-conntact a:hover {
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* Footer - End */

/*Styls for <main> Portfolio*/

/* Selectors */
.selectors {
  background-color: var(--first-background-color);
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  list-style: none;
}
.selectors li {
  display: inline;
}
.selector-one {
  color: var(--first-text-color);
  background-color: var(--selectors-background-colour);
  border: none;
  cursor: pointer;
  width: 93px;
  height: 38px;
}
.selector-one:hover,
.selector-two:hover,
.selector-three:hover,
.selector-four:hover,
.selector-five:hover {
  text-align: center;
  background-color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 4px;
  color: var(--third-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.1);
}

.selector-one :focus,
.selector-two :focus,
.selector-three :focus,
.selector-four :focus,
.selector-five :focus {
  text-align: center;
  background-color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 4px;
  color: var(--third-text-color);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 1px rgba(0, 0, 0, 0.08),
    1px 0px 3px rgba(0, 0, 0, 0.1);
}

.selector-two {
  color: var(--first-text-color);
  background-color: var(--selectors-background-colour);
  border: none;
  cursor: pointer;
  width: 93px;
  height: 38px;
}

.selector-three {
  color: var(--first-text-color);
  background-color: var(--selectors-background-colour);
  border: none;
  cursor: pointer;
  width: 93px;
  height: 38px;
}

.selector-four {
  color: var(--first-text-color);
  background-color: var(--selectors-background-colour);
  border: none;
  cursor: pointer;
  width: 93px;
  height: 38px;
}

.selector-five {
  color: var(--first-text-color);
  background-color: var(--selectors-background-colour);
  border: none;
  cursor: pointer;
  width: 93px;
  height: 38px;
}
.selectors ul {
  list-style: none;
  text-align: center;
}

/* products */
.products ul {
  list-style: none;
}

.prod-title {
  font-size: 18;
  font-weight: 700;
  color: var(--first-text-color);
}
.prod-description {
  font-size: 16;
}
